body {
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: 400;
}

.clock {
  margin-top: 30px;
}

.clock h2 {
  font-size: 1.5em;
  color: #ff6347;
  letter-spacing: 1px;
}

.clock p {
  font-size: 1.2em;
  color: #ddd;
}

@media (max-width: 600px) {
  body {
      padding: 20px;
  }

  .clock {
      margin-top: 20px;
  }

  .clock h2 {
      font-size: 1.2em;
  }

  .clock p {
      font-size: 1em;
  }
}
