body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #fffacc, #99c2ff);
  color: #333;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  letter-spacing: 2px;
  font-weight: 500;
  color: #444;
}

.clock {
  padding: 1px;
  margin-top: 30px;
  background: #fbfbfb30;
  border-radius: 10px;
}

.clock h2 {
  font-size: 1.5em;
  color: #444;
  font-weight: 600;
  letter-spacing: 1px;
}

.clock p {
  font-size: 1em;
  color: #777;
  font-weight: 300;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

@media (max-width: 600px) {
  body {
    padding: 20px;
  }

  .clock {
    margin-top: 20px;
    padding: 15px;
  }

  .clock h2 {
    font-size: 1.5em;
  }

  .clock p {
    font-size: 1.2em;
  }
}
