body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf5ff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: 400;
}

.clock {
  padding: 5px;
  margin-top: 30px;
  background-color: #d0e5ff;
}

.clock h2 {
  font-size: 1.5em;
  color: #444444;
  letter-spacing: 1px;
}

.clock p {
  font-size: 1.2em;
}

.weather{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.weather img {
  width: 40px; /* Ajuste la taille selon tes préférences */
  height: auto;
}

@media (max-width: 600px) {
  body {
      padding: 20px;
  }

  .clock {
      margin-top: 20px;
  }

  .clock h2 {
      font-size: 1.2em;
  }

  .clock p {
      font-size: 1em;
  }
}
